
@import '../node_modules/bootstrap/scss/bootstrap.scss';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
//    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

#vor{
    width: 32px;
    height: 32px;
}

#aircraft{
    width: 32px;
    height: 32px;
}