@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root{
    --background:#3e4444;
    --primary:#82b74b;
    --secundary:#405d27;
    --third:#c1946a;
}

body{
    background-color: var(--background);
}

form{
    background-color: var(--third);
    width: 30%;
    border: 3px solid var(--third);
    margin-left: auto;
    margin-right: auto;
}

h4{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
}

label{
    margin: 10px 0 5px 10px;
    font-family: 'Raleway', sans-serif;
}

#aircraft-radial, #holding-radial{
    float: right;
    right:0;
    text-align: center;
}